.square-logo {
  width: 55px;
  height: 55px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.square-logo:hover {
  transform: translateY(-10px);
}

.home-content h2 {
  letter-spacing: 0.1em;
  color: #9da6ad;
}
