.square-logo {
  object-fit: contain;
  transition: transform 0.3s ease;
  max-width: 100%;
  width: 5vw;
  height: auto;
}

.square-logo:hover {
  transform: translateY(-10px);
}

.home-content h2 {
  letter-spacing: 0.1em;
  color: #9da6ad;
}
